*.out
*.o
hello
bool_sum
pointer_demo
memory_demo
vector_stats
point
vector_add
mergeTwoLists
removeDuplicates
twoSum
print_ids
reduce_atomic
reduce_shared
matmul_naive
matmul_tiled
profile_demo
matmul_regtile
matmul_regtile-1
matmul_regtile-2
__pycache__/
*.pyc
EOF